.new-todo-form {
    border-radius: 8px;
    padding: 16px;
    text-align: center;
    box-shadow: 0 4px 8px grey;
}

.new-todo-input {
    font-size: 16px;
    padding: 8px;
    border: none;
    border-bottom: 2px solid #ddd;
    border-radius: 8px;
    width: 70%;
    outline: none;
}

.new-todo-button {
    font-size: 16px;
    padding: 8px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-left: 8px;
    width: 20%;
    outline: none;
    background-color: #137a13 !important;
}

.todo-item-container {
    background: #fff;
    border-radius: 8px;
    margin-top: 8px;
    padding: 16px;
    position: relative;
    box-shadow: 0 4px 8px grey;
}

.buttons-container {
    position: absolute;
    right: 12px;
    bottom: 12px;
}

.completed-button {
    display: inline-block;
    background-color: #137a13 !important;
}

.remove-button {
    display: inline-block;
    background-color: #ee2222 !important;
    margin-left: 1vh !important;
    color: white !important;
}